{% extends 'dashboard_admin/index.html' %}

{% block 'title' %}<title>ProcuratioAdmin - reservations</title>{% endblock %}

{% block 'content' %}

    <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Listes reservations</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Service</th>
                                    <th scope="col">client</th>
                                    <th scope="col">Date réservation</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for r in reservations %}
                                <tr>
                                    <td>{{ r.service }}</td>
                                    <td>{{ r.client }}</td>
                                    <td>{{ r.date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

{% endblock %}