{% include 'base.html' %}

{% block 'title' %}<title>Procuratio - Checkout</title>{% endblock %}
{% load static %}
{% block 'content'%}

{% if transaction %}
     <div class="section-lg bg-periglacial-blue text-center">
             {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
             {% endif %}
                    <!-- Display transaction details here -->
                    <h3>Details de la transaction</h3>
                    <p>ID Transaction: {{ transaction.id }}</p>
                    <p>Date: {{ transaction.dateT }}</p>
                    <p>Montant Total: {{ transaction.MT }}</p>
                    <p>Type de paiement: {{ transaction.MP }}</p>

                    <h3>Produits à payer dans notre boutique</h3>
                    <ul>
                         {% for produit in produits %}
                            <li>
                                <strong>Produit {{ forloop.counter }}:</strong> {{ produit.title }} (Quantité: {{ produit.qty }}, Prix unitaire: {{ produit.price }} euros)
                            </li>
                        {% endfor %}
                    </ul>
                </div>
{% endif %}

{% endblock %}