{% extends 'dashboard_admin/index.html' %}

{% load static %}

{% block 'content' %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <form method="POST" data-url="{% url 'supprimerproduit' produit.id %}">
            {% csrf_token %}
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="modal-title">Supprimer le produit "{{ produit.nom }}"</h5>
            </div>
            <p>Êtes-vous sûr de vouloir supprimer le produit "{{ produit.nom }}" ?</p>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                <a href="{% url 'productlist' %}" class="btn btn-danger">Annuler</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
